<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
  <div class="container">
    <div class="breadcrumb-area">
      <h1><%= t ".manage_review" %></h1>
      <ul class="breadcrumbs">
        <li><%= link_to t(".home"), root_path %></li>
        <li class="active"><%= t ".manage_review" %></li>
      </ul>
    </div>
  </div>
</div>
<!-- Sub banner end -->

<div class="properties-list-fullwidth content-area-2">
  <div class="container">
    <div class="option-bar d-none d-xl-block d-lg-block d-md-block d-sm-block">
      <div class="row clearfix">
        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-5">
          <h4>
            <span class="heading-icon">
            <i class="fa fa-caret-right icon-design"></i>
            <i class="fa fa-th-large"></i>
            </span>
            <span class="heading"><%= t ".manage_review" %></span>
          </h4>
        </div>
      </div>
    </div>

    <div class="tabbing tabbing-box mb-60">
      <ul class="nav nav-tabs" id="carTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active show" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="false"><%= t ".all_review" %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false"><%= t ".checked_review" %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="true"><%= t ".unchecked_review" %></a>
        </li>
      </ul>
      <div class="tab-content" id="carTabContent">
        <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="one-tab">
          <h3 class="heading"><%= t ".all_review" %></h3>
          <div class="subtitle">
            <%= Review.all.count.to_s + " " + t(".result_found") %>
          </div>
          <div class="row">
            <% @reviews.each do |review| %>
              <%= render "review_detail", review: review %>
            <% end %>
            <div class="col-lg-12">
              <div class="pagination-box">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <%= paginate @reviews %>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
          <h3 class="heading"><%= t ".checked_review" %></h3>
          <div class="subtitle">
            <%= Review.checked_review.count.to_s + " " + t(".result_found") %>
          </div>
          <div class="row">
            <% @checked_reviews.each do |checked_review| %>
              <%= render "review_detail", review: checked_review %>
            <% end %>
            <div class="col-lg-12">
              <div class="pagination-box">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <%= paginate @checked_reviews %>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade " id="three" role="tabpanel" aria-labelledby="three-tab">
          <h3 class="heading"><%= t ".unchecked_review" %></h3>
          <div class="subtitle">
            <%= Review.unchecked_review.count.to_s + " " + t(".result_found") %>
          </div>
          <div class="row">
            <% @unchecked_reviews.each do |unchecked_review| %>
              <%= render "review_detail", review: unchecked_review %>
            <% end %>
            <div class="col-lg-12">
              <div class="pagination-box">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <%= paginate @unchecked_reviews %>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Properties list fullwidth end -->
