<% provide :title, @review.name %>

<h5>Name: <%= @review.name %> </h5>
<h5>Screen Size: <%= @review.screen_size %></h5>
<h5>OS:  <%= @review.operator_system.name %></h5>
<h5>CPU: <%= @review.cpu %>  </h5>
<h5>Battery: <%= @review.battery %></h5>
<h5>Brand: <%= @review.brand.name %></h5>
<h5>Review: <%= @review.review %> <br></h5>
<h5>Price: <%= @review.price %></h5>
<h5>By user: <%= @review.user.name %></h5>
<%= cl_image_tag(@review.picture,:size => "200x180", :crop => :fill) if @review.picture? %> 

<%= form_for :comment, url: review_comments_path(@review.id) do |f| %>
  <h2>Create comment</h2>
  <%= f.label :content %><br />
  <%= f.text_field :content, class: "form-control", placeholder: "Content..." %>

  <%= f.submit t(".send_comment") %>
<% end %>
