<% provide :title, @review.name %>

<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1><%= @review.name %></h1>
            <ul class="breadcrumbs">
                <li><%= link_to t(".home"), root_path %></li>
                <li class="active"><%= @review.name %></li>
            </ul>
        </div>
    </div>
</div>

<!-- Properties details page start -->
<div class="properties-details-page content-area-16">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div id="propertiesDetailsSlider" class="carousel properties-details-sliders slide mb-60">
          <div class="heading-properties">
            <div class="row">
              <div class="col-md-12">
                <div class="pull-left">
                  <h3><%= @review.name %></h3>
                  <p><i class="fa fa-map-marker"></i>
                    <%= @review.user.name %>
                  </p>
                  <% @object = @review %>
                  <%= render "likes/like_form" %>
                </div>
                <div class="p-r">
                  <h3><%= t "price_str", price: price_review(@review.price) %></h3>
                  <% if current_user %>
                    <%= rating_for @review, "original_score", star: 5,  disable_after_rate: false %>
                    <p><b>Total Vote:</b> <%= @review.rates("original_score").count %></p>
                    <% unless @review.rates("original_score").count == 0 %>
                    <p><b>Average Score:</b> <%= @review.average("original_score").avg %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <!-- main slider carousel items -->
          <div class="carousel-inner">
            <div class="active item carousel-item" data-slide-number="0">
              <% if @review.picture? %>
                <%= cl_image_tag(@review.picture,:size => "200x180", :crop => :fill, :class => "img-fluid") %>
              <% else %>
                <%= image_tag("banner-3.jpg", :class => "img-fluid") %>
              <% end %>
            </div>
            <div class="item carousel-item" data-slide-number="1">
              <img src="assets/img/property-6.jpg" class="img-fluid" alt="property-6">
            </div>
            <div class="item carousel-item" data-slide-number="2">
              <img src="assets/img/property-1.jpg" class="img-fluid" alt="property-1">
            </div>
            <div class="item carousel-item" data-slide-number="4">
              <img src="assets/img/property-5.jpg" class="img-fluid" alt="property-5">
            </div>
            <div class="item carousel-item" data-slide-number="5">
              <img src="assets/img/property-8.jpg" class="img-fluid" alt="property-8">
            </div>
            <a class="carousel-control left" href="#propertiesDetailsSlider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="carousel-control right" href="#propertiesDetailsSlider" data-slide="next"><i class="fa fa-angle-right"></i></a>
          </div>
          <!-- main slider carousel nav controls -->
          <ul class="carousel-indicators smail-properties list-inline nav nav-justified">
            <li class="list-inline-item active">
              <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#propertiesDetailsSlider">
              <img src="assets/img/property-4.jpg" class="img-fluid" alt="property-4">
              </a>
            </li>
            <li class="list-inline-item">
              <a id="carousel-selector-1" data-slide-to="1" data-target="#propertiesDetailsSlider">
              <img src="assets/img/property-6.jpg" class="img-fluid" alt="property-6">
              </a>
            </li>
            <li class="list-inline-item">
              <a id="carousel-selector-2" data-slide-to="2" data-target="#propertiesDetailsSlider">
              <img src="assets/img/property-1.jpg" class="img-fluid" alt="property-1">
              </a>
            </li>
            <li class="list-inline-item">
              <a id="carousel-selector-3" data-slide-to="3" data-target="#propertiesDetailsSlider">
              <img src="assets/img/property-5.jpg" class="img-fluid" alt="property-5">
              </a>
            </li>
            <li class="list-inline-item">
              <a id="carousel-selector-4" data-slide-to="4" data-target="#propertiesDetailsSlider">
              <img src="assets/img/property-8.jpg" class="img-fluid" alt="property-8">
              </a>
            </li>
          </ul>
        </div>

        <!-- Property description start -->
        <div class="property-description mb-60">
          <h3 class="heading">Review</h3>
          <p><%= @review.review %></p>
        </div>
        <!-- Property details start -->
        <div class="property-details mb-60">
          <h3 class="heading">Property Details</h3>
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <ul>
                <li>
                  <strong>Screen Size:</strong><%= @review.screen_size %>
                </li>
                <li>
                  <strong>OS:</strong><%= @review.operator_system.name %>
                </li>
                <li>
                  <strong>CPU:</strong><%= @review.cpu %>
                </li>
                <li>
                  <strong>Battery:</strong><%= @review.battery %>
                </li>
                <li>
                  <strong>Brand:</strong><%= @review.brand.name %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="comments-section">
          <h3 class="heading"><%= t ".comment_section" %></h3>
          <ul class="comments">
            <% @comments.each do |comment| %>
              <li>
                <div class="comment">
                  <div class="comment-author">
                    <a href="#">
                    <% if comment.user.picture? %>
                    <%= cl_image_tag(comment.user.picture, :class => "rounded-circle") %>
                    <% else %>
                      <%= image_tag("https://2sao.vietnamnetjsc.vn/images/2018/06/26/00/39/dich-le-nhiet-ba-1.jpg", class:"rounded-circle") %>
                    <% end %>
                    </a>
                  </div>
                  <div class="comment-content">
                    <div class="comment-meta">
                      <div class="comment-meta-author">
                        <%= comment.user.name %>
                      </div>
                      <div class="comment-meta-reply">
                        <% if comment.user == current_user %>
                          <%= link_to t(".delete_comment"), comment_path(comment), method: :delete, data: { confirm: "Are you sure?" } %>
                        <% end %>
                        <%= link_to t(".reply"), review_form_reply_path(@review, parent_cmt_id: comment.id), remote: true %>
                        <%= link_to t(".edit"), review_form_edit_path(@review,
                          comment_id: comment.id), remote: true %> 
                      </div>
                      <div class="comment-meta-date">
                        <span><%= comment.created_at.strftime("%H:%M %-d/%-m/%y") %></span>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="comment-body">
                      <p><%= comment.content %></p>
                    </div>
                  </div>
                  <div id="form-edit-<%= comment.id %>"></div>
                </div>
                <ul>
                  <% Comment.find_sub_comments(comment.id).each do |sub_comment| %>
                    <li>
                      <div class="comment">
                        <div class="comment-author">
                          <a href="#">
                          <% if sub_comment.user.picture? %>
                            <%= cl_image_tag(sub_comment.user.picture, :class => "rounded-circle") %>
                          <% else %>
                            <%= image_tag("https://2sao.vietnamnetjsc.vn/images/2018/06/26/00/39/dich-le-nhiet-ba-1.jpg", class:"rounded-circle") %>
                          <% end %>
                          </a>
                        </div>
                        <div class="comment-content">
                          <div class="comment-meta">
                            <div class="comment-meta-author">
                              <%= sub_comment.user.name %>
                            </div>
                            <div class="comment-meta-reply">
                              <% if sub_comment.user == current_user %>
                                <%= link_to t(".delete_comment"), comment_path(comment), method: :delete, data: { confirm: "Are you sure?" } %>
                              <% end %>
                              <%= link_to t(".reply"), review_form_reply_path(@review, parent_cmt_id: comment.id), remote: true %>
                              <%= link_to t(".edit"), review_form_edit_path(@review, comment_id: sub_comment.id), remote: true %> 
                            </div>
                            <div class="comment-meta-date">
                              <span><%= sub_comment.created_at.strftime("%H:%M %-d/%-m/%y") %></span>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="comment-body">
                            <p><%= sub_comment.content %></p>
                          </div>
                        </div>
                        <div id="form-edit-<%= sub_comment.id %>"></div>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </li>
            <div id="form-reply-<%= comment.id %>"></div>
            <% end %>
          </ul>
        </div>
        <div class="contact-3 mb-60">
          <h3 class="heading"><%= t ".send_comment" %></h3>
          <div class="container">
            <div class="row">
              <%= form_for :comment, url: review_comments_path(@review.id) do |f| %>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group message">
                      <%= f.label :content %><br />
                      <%= text_area :comment, :content, :rows => 5, :cols => 70, class:"form-control", placeholder:"Write message" %>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="send-btn">
                      <%= f.submit t(".send_comment"), class:"btn btn-color btn-md btn-message" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= render "rightside" %>
    </div>
  </div>
</div>
<!-- Properties details page start -->
